*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Merriweather', serif;
}
html{
    font-size: 16px;
    /* background-image: linear-gradient(red, yellow) */
    background-color: #312d2d;
}
.calculator{
    /* margin-left: 35%;
    margin-top: 5%;
    margin-right: 35%;
    margin-bottom: 5%; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.calc-container{
    
    background-image: linear-gradient(red, yellow);
    width: 300px;
    height: auto;
    border-radius: 22px 22px 30px 30px;
}
.output{
    width: 100%;
}
.operation{
    width: 300px;
    height: 8ch;
    color: white;
    font-size: 1.9rem;
    font-weight: bold;
    overflow: hidden;
    position: relative;
    padding: 1rem;
    max-height: 180px;
}
.operation .value{
    position: absolute;
    padding: 1rem 0.5rem 0;
    bottom: 5px;
    right: 10px;max-width: 278px;
    overflow: hidden;
    word-break: break-all;
    height: 100%;
    margin: 0 15px;
}
.result{
    width: 300px;
    height: 80px;
    color: #fff;
    font-size: 2.7rem;
    font-weight: bold;
    overflow: hidden;
    position: relative;
}
.result .value{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right : 10px;
    white-space: nowrap;
    overflow: hidden;
}
.input{
    background-color: #FFF;
    border-radius: 0 0 25px 25px;
    border: 1px solid #1d1d1d;
    height: 340px;
}
.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.row button{
    width: 50px;
    height: 50px;
    font-size: 1.5em;
    border: none;
    border-radius: 50%;
    background-color: transparent;
    margin : 8px;
    cursor: pointer;
}
.row button:hover{
    font-weight: bold;
}
.row #calculate{
    color: #FFF;
    background-color: #5cee18;
    width : 121px;
    border-radius: 50px;
}
.row #delete{
    color: #FFF;
    background-color: #1639d8;
}

#division, #multiplication, #subtraction, #addition {
    color: #f0093b;
}